@model MyEStore.Entities.NhaCungCap

@{
    ViewData["Title"] = "Xóa nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa nhà cung cấp</h1>

<h3>Bạn có chắc chắn muốn xóa nhà cung cấp này?</h3>
<div>
    <h4>NhaCungCap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCongTy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCongTy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                    <img src="~/@Model.Logo" alt="@Model.TenCongTy" style="max-height: 100px;" />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiLienLac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiLienLac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaNcc" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
    </form>
</div>