@model IEnumerable<MyEStore.Entities.NhaCungCap>

@{
    ViewData["Title"] = "Quản lý nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý nhà cung cấp</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaNcc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenCongTy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiLienLac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNcc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenCongTy)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Logo))
                    {
                            <img src="~/@item.Logo" alt="@item.TenCongTy" style="max-height: 50px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NguoiLienLac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaNcc" class="btn btn-sm btn-warning">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.MaNcc" class="btn btn-sm btn-info">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaNcc" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>